*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    background-image: url('pexels.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.card-content{
    border:1px solid rgb(0, 0, 0);
    opacity: 1;
    padding: 2em;
    font-size: 25px;
    background-color: #000000e8;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0 black;
    text-transform: capitalize;
}

.searchbar{
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    display:flex;
}

#searchinput{
    height: 43px;   
    width: 300px;
    font-size: 22px;
    border-radius: 22px;
    padding:7px;
    margin-left:-7px;
    outline:none;
    border:none;
    background-color: rgba(22, 22, 22, 0.888);
    color:white;
    font-family: Poppins;
}

button{
    height: 46px;
    width: 46px;
    border:none;
    border-radius: 50%;
    background-color: rgba(22, 22, 22, 0.888);
    margin-left: 5px;
    color:white;
    align-items: center;
    justify-content: center;
    display:inline-flex;

}

button:hover{
    background-color: rgba(81, 81, 81, 0.814);
}



.information-display{
    color:white;
    font-family: tilt neon;
}

.flex{
    display:inline-flex;
    align-items: center;
    margin:5px 0 20px 0;
}

.subdesc{
    font-size:17px;
}

.degrees{
    font-size:30px;
}

.cityname{
    font-size: 25px;
}

@media (max-width:350px) {
    #searchinput{
        width:140px;
    }

    .card-content{
        max-width:280px;
    }

    body{
        background-image: url('backgroundimage.jpg');
    }
}

@media (min-width:350px) and (max-width:600px) {
    #searchinput{
        width:180px;
    }
    .card-content{
        max-width:330px;
    }
    body{
        background-image: url('backgroundimage.jpg');
    }
}